@import "tailwindcss";

@import "@daveyplate/better-auth-ui/css";

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.28 0 0);

	--card: oklch(0.995 0 0);
	--card-foreground: oklch(0.36 0 0);

	--popover: var(--card);
	--popover-foreground: var(--card-foreground);

	--primary: oklch(0.63 0.14 293.54);
	--primary-foreground: oklch(1 0 0);

	--secondary: var(--primary-foreground);
	--secondary-foreground: var(--primary);

	--muted: oklch(0.98 0 0);
	--muted-foreground: oklch(0.4 0 0);

	--accent: color-mix(in oklch, var(--primary) 20%, var(--primary-foreground) 80%);
	--accent-foreground: oklch(0.4 0 0);

	--destructive: #ff3d00;
	--destructive-foreground: #ffffff;

	--border: oklch(.94 0 0);
	--input: color-mix(in oklch, var(--primary) 20%, var(--primary-foreground) 80%);
	--ring: var(--primary);
	--radius: 0.2rem;

	--sidebar: var(--card);
	--sidebar-foreground: var(--muted-foreground);
	--sidebar-primary: var(--primary);
	--sidebar-primary-foreground: var(--primary-foreground);
	--sidebar-accent: var(--accent);
	--sidebar-accent-foreground: var(--accent-foreground);
	--sidebar-border: var(--border);
	--sidebar-ring: var(--primary);

	--shadow-x: 0;
	--shadow-y: 0px;
	--shadow-blur: 6px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.1;
	--shadow-color: oklch(0 0 0);
	--shadow-2xs: 0 0px 6px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0 0px 6px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0 0px 6px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
	--shadow: 0 0px 6px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
	--shadow-md: 0 0px 6px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
	--shadow-lg: 0 0px 6px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
	--shadow-xl: 0 0px 6px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
	--shadow-2xl: 0 0px 6px 0px hsl(0 0% 0% / 0.25);

	--tracking-normal: 0em;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0.1 0 0);
	--foreground: oklch(1 0 0);

	--card: oklch(0.2 0 0);
	--card-foreground: oklch(1 0 0);

	--secondary: #8d74d6;
	--secondary-foreground: #3f3f3f;

	--muted: oklch(0.34 0 0);
	--muted-foreground: oklch(.9 0 0);

	--accent: color-mix(in oklch, var(--primary) 50%, oklch(0.1 0 0) 50%);
	--accent-foreground: oklch(1 0 0);

	--destructive: #ff3d00;
	--destructive-foreground: #ffffff;

	--border: oklch(.4 0 0);
	--input: color-mix(in oklch, var(--primary) 30%, oklch(0.1 0 0) 70%);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}

* {
	border-color: var(--border);

	scrollbar-width: thin;
	scrollbar-color: var(--primary) transparent;
}

body {
	background-color: var(--background);
	color: var(--foreground);
}

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--border);
	border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: var(--muted-foreground);
}

@layer base {
	* {
		border-color: var(--border);
		outline-color: var(--ring);
	}

	body {
		@apply bg-background text-foreground;
	}
}