@import "tailwindcss";

@import "@daveyplate/better-auth-ui/css";

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.28 0 0);

	--card: oklch(0.995 0 0);
	--card-foreground: oklch(0.36 0 0);

	--popover: var(--card);
	--popover-foreground: var(--card-foreground);

	--primary: oklch(0.63 0.14 293.54);
	--primary-foreground: oklch(1 0 0);

	--secondary: var(--primary-foreground);
	--secondary-foreground: var(--primary);

	--muted: oklch(0.98 0 0);
	--muted-foreground: oklch(0.4 0 0);

	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.4 0 0);

	--destructive: #ff3d00;
	--destructive-foreground: #ffffff;

	--border: oklch(.94 0 0);
	--input: color-mix(in oklch, var(--primary) 10%, var(--primary-foreground) 90%);
	--ring: var(--primary);
	--radius: 0.2rem;

	--chart-1: #c0aff2;
	--chart-2: #72c695;
	--chart-3: #dde693;
	--chart-4: #e0b182;
	--chart-5: #91c3e2;

	--sidebar: var(--card);
	--sidebar-foreground: var(--muted-foreground);
	--sidebar-primary: var(--primary);
	--sidebar-primary-foreground: var(--primary-foreground);
	--sidebar-accent: var(--accent);
	--sidebar-accent-foreground: var(--accent-foreground);
	--sidebar-border: var(--border);
	--sidebar-ring: var(--primary);

	--shadow-x: 0;
	--shadow-y: 0px;
	--shadow-blur: 6px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.1;
	--shadow-color: oklch(0 0 0);
	--shadow-2xs: 0 0px 6px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0 0px 6px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0 0px 6px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
	--shadow: 0 0px 6px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
	--shadow-md: 0 0px 6px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
	--shadow-lg: 0 0px 6px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
	--shadow-xl: 0 0px 6px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
	--shadow-2xl: 0 0px 6px 0px hsl(0 0% 0% / 0.25);

	--tracking-normal: 0em;
	--spacing: 0.25rem;
}

.dark {
	--background: #0a0a0b;
	--foreground: #ffffff;

	--card: #1b1b1c;
	--card-foreground: #ffffff;

	--popover: #654fa8;
	--popover-foreground: #ffffff;

	--primary: #8d74d6;
	--primary-foreground: #ffffff;

	--secondary: #8d74d6;
	--secondary-foreground: #3f3f3f;

	--muted: oklch(0.2123 0.0522 280.9917);
	--muted-foreground: #c9c9c9;

	--accent: var(--secondary);
	--accent-foreground: #ffffff;

	--destructive: oklch(0.6535 0.2348 34.0370);
	--destructive-foreground: oklch(1.0000 0 0);

	--border: #565656;
	--input: var(--card);
	--ring: #8d74d655;
	--radius: 0.2rem;

	--chart-1: #c0aff2;
	--chart-2: #72c695;
	--chart-3: #dde693;
	--chart-4: #e0b182;
	--chart-5: #91c3e2;

	--sidebar: var(--card);
	--sidebar-foreground: oklch(0.9513 0.0074 260.7315);
	--sidebar-primary: oklch(0.6726 0.2904 341.4084);
	--sidebar-primary-foreground: oklch(1.0000 0 0);
	--sidebar-accent: oklch(0.9247 0.0807 131.4322);
	--sidebar-accent-foreground: oklch(0.1649 0.0352 281.8285);
	--sidebar-border: oklch(0.3279 0.0832 280.7890);
	--sidebar-ring: oklch(0.6726 0.2904 341.4084);

	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 6px;
	--shadow-spread: -2px;
	--shadow-opacity: 0.01;
	--shadow-color: #a6a6a6;
	--shadow-2xs: 0px 4px 6px -2px hsl(0 0% 65.0980% / 0.01);
	--shadow-xs: 0px 4px 6px -2px hsl(0 0% 65.0980% / 0.01);
	--shadow-sm: 0px 4px 6px -2px hsl(0 0% 65.0980% / 0.01), 0px 1px 2px -3px hsl(0 0% 65.0980% / 0.01);
	--shadow: 0px 4px 6px -2px hsl(0 0% 65.0980% / 0.01), 0px 1px 2px -3px hsl(0 0% 65.0980% / 0.01);
	--shadow-md: 0px 4px 6px -2px hsl(0 0% 65.0980% / 0.01), 0px 2px 4px -3px hsl(0 0% 65.0980% / 0.01);
	--shadow-lg: 0px 4px 6px -2px hsl(0 0% 65.0980% / 0.01), 0px 4px 6px -3px hsl(0 0% 65.0980% / 0.01);
	--shadow-xl: 0px 4px 6px -2px hsl(0 0% 65.0980% / 0.01), 0px 8px 10px -3px hsl(0 0% 65.0980% / 0.01);
	--shadow-2xl: 0px 4px 6px -2px hsl(0 0% 65.0980% / 0.03);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}

* {
	border-color: var(--border);

	scrollbar-width: thin;
	scrollbar-color: var(--primary) transparent;
}

body {
	background-color: var(--background);
	color: var(--foreground);
}

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--border);
	border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: var(--muted-foreground);
}

@layer base {
	* {
		border-color: var(--border);
		outline-color: hsl(var(--ring) / 0.5);
	}

	body {
		@apply bg-background text-foreground;
	}
}